.subject-container {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.subject-container > img {
  border-radius: 10px;
  width: 100%;
}
.sub-name {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}
.sub-desc {
  margin: 13px 0;
  font-size: 15px;
  color: rgb(53, 29, 0);
}
.sub-class,
.sub-time {
  font-weight: 500;
  margin-bottom: 10px;
}
.sub-time {
  margin-bottom: 60px;
}
.btn-add-to-list {
  background-color: rgb(255, 206, 116);
  color: rgb(31, 31, 31);
  padding: 10px 0;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
.btn-add-to-list:hover {
  background-color: rgb(255, 192, 74);
}
