.sidebar-container {
  padding: 30px 30px;
  margin: 20px 0;
  position: sticky;
  top: 10px;
}
.sidebar-profile-container {
  display: flex;
  align-items: center;
}
.sidebar-profile-container > img {
  width: 50px;
  border-radius: 5px;
}
.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.profile-name {
  font-size: 20px;
  font-weight: 500;
}
.profile-location {
  color: #a3adba;
}
.profile-location > span {
  padding-right: 5px;
}
/* Persons Attributes */
.person-attributes,
.add-a-break,
.study-time,
.break-time {
  display: flex;
  justify-content: space-around;
  padding: 15px 20px;
  background-color: #f0f1f3;
  margin-top: 20px;
  border-radius: 10px;
}
.top-p {
  font-size: 20px;
  font-weight: 700;
}
.top-p span {
  font-size: 12px;
}
.bot-p {
  color: #949494;
}

/* Add a break */
.add-break-container {
  margin: 20px 0;
}

.add-a-break > div {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.add-a-break > div:hover {
  background-color: rgb(235, 235, 235);
}
/* Study details */
.study-time,
.break-time {
  display: flex;
  justify-content: space-between;
}
.strong {
  font-weight: 500;
}
.silenced {
  color: #a3adba;
}
/* Button */
.btn-activity {
  background-color: rgb(255, 206, 116);
  color: rgb(31, 31, 31);
  padding: 10px 0;
  width: 100%;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}
